<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% seo %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.12/sweetalert2.min.css" integrity="sha256-l3bovuc2ZgP9xFQzABLB6V7CvtxLpXBIxj+jf6lExZI="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="stylesheet" href="{{ " /assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="https://github.com/flagbrew.png">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3">
                    {% if site.logo %}
                    <a href="/"><img src="{{site.logo | relative_url}}" width="100%" alt="Logo"/></a>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 class="display-4"><a href="/">FlagBrew</a></h1>
                    <p class="lead" style="margin-left: 2px;">{{ site.description | default: site.github.project_tagline }}</p>
                    <hr class="my-4">
                    <p style="margin-left: 2px;">
                        <a class="btn btn-primary btn-lg" href="{{ site.github.owner_url }}" role="button"><i class="fab fa-github"></i></a>
                        <a class="btn btn-primary btn-lg" href="https://discord.gg/bGKEyfY" role="button"><i class="fab fa-discord"></i></a>
                        <a class="btn btn-primary btn-lg" href="https://t.me/flagbrew" role="button"><i class="fab fa-telegram"></i></a>
                        <a class="btn btn-primary btn-lg" href="mailto:flagbrewinfo@gmail.com" role="button"><i class="fas fa-envelope"></i></a>
                        <a class="btn btn-primary btn-lg" href="/about" role="button">About</a>
                    </p>
                </div>
            </div>
        </div>
        {{ content }}
    </div>

    <footer class="text-center">
        {% if site.github.is_project_page %}
        <p>This project is maintained {{ cachets }} by
            <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        </p>
        {% endif %}
        <p>
            <small>Hosted on GitHub Pages &mdash; Theme by
                <a href="https://github.com/FM1337">Allen</a>
                &mdash; Icon by
                <a href="https://twitter.com/rakujira">rakujira</a>
            </small>
        </p>
    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.12/sweetalert2.min.js" integrity="sha256-nu2cC4/fVi9FcXsBJWnLbQ2jP2m0YSIwJEf+tcXT54E="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
    <script src="{{"/assets/js/main.js " | relative_url }}"></script> {% if site.google_analytics %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script> {% endif %}
</body>

</html>
